@import '../../variables.scss';


@import "../../variables.scss";

    .card{
        .card-title{
            font-size: 2rem;
        }
        .text-muted{
            font-family: "Lobster", cursive;
        }
    .card-img-container{
        text-align: center;
        background-color: $black-trans10;
        padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
        
        .card-img{
            width: auto;
            max-width: 100%;
            max-height: 50vh;
            height: auto;
        }
    }
}

        .course-description{

        }
    

    
