<div class="about">
    <div class="container-fluid">
        <!--
        <div class="row about-header">
            <div class="col-lg-5 course-image">
                <img src="../../assets/course-pictures/scorecard1.jpg" class="rounded" alt="scorecard">
            </div>
            <div class="col-sm-7 course-description"></div>
        </div>
    -->
    <div class="card mb-3" >
        <div class="row no-gutters">
          <div class="col-md-4 card-img-container">
            <img src="../../assets/course-pictures/scorecard1.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">A Slice of Heaven Nestled in a Picturesque Setting on the West Side of Madoc.</h5>
              <p class="card-text">
                Conveniently located off of Hwy #7 (at Atkinson Rd) and east of Hwy #62 (off of St Lawrence St. east). Being the half way point between Ottawa and Toronto many travellers stop for a game of golf and/or sit on the patio for a relaxing drink and a bite to eat.
                <br/><br/>
                We are a public golf course and offer 12 challenging holes. Tight fairways and bent grass are a pleasure to play for both the novice and the experienced golfer.
                <br/><br/>
                We are a licensed facility and offer short order food for our customers.
                <br/><br/>
                Also enjoy our home made specials each week.</p>
              <p class="card-text"><small class="text-muted">- West Highland Golf Course</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-hole [hole]="this.holes['1']"></app-hole>
    <app-hole [hole]="this.holes['2']"></app-hole>
    <app-hole [hole]="this.holes['3']"></app-hole>
    <app-hole [hole]="this.holes['4']"></app-hole>
    <app-hole [hole]="this.holes['5']"></app-hole>
    <app-hole [hole]="this.holes['6']"></app-hole>
    <app-hole [hole]="this.holes['7']"></app-hole>
    <app-hole [hole]="this.holes['8']"></app-hole>
    <app-hole [hole]="this.holes['9']"></app-hole>
    <app-hole [hole]="this.holes['10']"></app-hole>
    <app-hole [hole]="this.holes['11']"></app-hole>
    <app-hole [hole]="this.holes['12']"></app-hole>
</div>
