<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
  <div class="container">
      <a routerLink="/" routerLinkActive="active" class="navbar-brand">
        <img class="logo" src="../../assets/logo.png" alt="">
        <!--West Highland Golf Course-->
      </a>
      
      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
        <span class="menu-icon-bar"></span>
      </button>
      
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li><a routerLink="/covid19" routerLinkActive="active" class="nav-item nav-link" (click)="ToggleNavBar()">COVID-19</a></li>
          <li class="dropdown">
            <a class="nav-item nav-link" data-toggle="dropdown">The Course</a>
            <div class="dropdown-menu">
              <a routerLink="/about" (click)="ToggleNavBar()" class="dropdown-item"  routerLinkActive="active">Tour</a>
              <a routerLink="/green-fees" routerLinkActive="active" class="dropdown-item" (click)="ToggleNavBar()">Green Fees</a>
            </div>
          </li>
          <li><a routerLink="/leagues" routerLinkActive="active" class="nav-item nav-link" (click)="ToggleNavBar()">Leagues</a></li>
          <li><a routerLink="/memberships" routerLinkActive="active" class="nav-item nav-link" (click)="ToggleNavBar()">Memberships</a></li>
          <li><a routerLink="/sponsors" routerLinkActive="active" class="nav-item nav-link" (click)="ToggleNavBar()">Our Sponsors</a></li>
          <li><a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link" (click)="ToggleNavBar()">Contact</a></li>
          <!--
            <li class="dropdown">
            <a href="#" class="nav-item nav-link" data-toggle="dropdown">Services</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Dropdown Item 1</a>
              <a href="#" class="dropdown-item">Dropdown Item 2</a>
              <a href="#" class="dropdown-item">Dropdown Item 3</a>
            </div>
          </li>
          -->
        </ul>
      </div>
      </div>
  </nav>