
    <div class="nav-margin"><!--Section heading-->
    <h1 class="display-4">Contact us</h1>
    <!--Section description-->
    <p class="lead">Do you have any questions? Please do not hesitate to contact us directly, or visit us at the course!</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-md-0 mb-5">
            <iframe
            class="maps"    
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCylBDvQSqYRKlyjqyP63WpviiO0K9yJJE
    &q=West+Highland+Golf+Course+Madoc+Ontario" allowfullscreen>
</iframe>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 text-center">
            <ul class="list-unstyled mb-0">

                <a href="tel:6134733880">
                    <div class="icon-text"><fa-icon [icon]="faPhone" size="2x"></fa-icon>
                    <p>613-473-3880</p>
                </div>
            </a>


            <a href="mailto:golfmadoc@yahoo.com">
                <div class="icon-text"><fa-icon [icon]="faEnvelope" size="2x"></fa-icon>
                    <p>golfmadoc@yahoo.com</p>
                </div>
                </a>
<a href="https://facebook.com/westhighlandgolf/" target="_blank">
                <div class="icon-text"><fa-icon class="facebook" [icon]="faFacebook" size="2x"></fa-icon>
                    <p>Follow us on Facebook!</p>
                </div>
            </a>
            </ul>
        </div>
        <!--Grid column-->

    </div>
</div>