<div class="nav-margin">
    <div class="row">
        <div class="col-md-7">
            <div class="jumbotron">
                <h1 class="display-4">Leagues</h1>
                <p class="lead">Come &amp; have some fun! We offer a variety of leagues at the course from
                    Monday-Thursday. All leagues are open to all and pay as you go. Call the pro-shop to ask us about
                    each group.
                </p>

                <table class="memberships table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">League</th>
                            <th scope="col">Day of the Week</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Skins Game (18 hole format)</th>
                            <td>Every 2<sup>nd</sup> Monday. Call the pro-shop for dates</td>
                        </tr>
                        <tr>
                            <th scope="row">Play with the Senior Men</th>
                            <td>Tuesday - 9AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Business Ladies Group</th>
                            <td>Tuesday - 5PM</td>
                        </tr>
                        <tr>
                            <th scope="row">Ladies Fun League</th>
                            <td>Wednesday - 8:30AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Play with the Senior Men</th>
                            <td>Thursday - 9AM</td>
                        </tr>
                        <tr>
                            <th scope="row">Men's Business</th>
                            <td>Thursday - 4PM <i>(times can fluctuate)</i></td>
                        </tr>
                    </tbody>
                </table>
                <a href="tel:6134733880"><button type="button"  class="btn btn-primary enquire-button">Enquire About our Leagues</button></a>

            </div>
        </div>

        <div class="col-md-5 image">

        </div>
    </div>

</div>