<div class="nav-margin">
    <div class="row">
        <div class="col-md-4 image">

        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Green Fees</h1>
                <p class="lead">We offer inexpensive options to get out and play! We are actively working on an online booking system, but for now please call the pro-shop to book a tee time.</p>

                <table class="memberships table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Rate</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Weekend & Holiday</th>
                        <td>$26</td>
                      </tr>
                      <tr>
                        <th scope="row">Weekday</th>
                        <td>$23</td>
                      </tr>
                      <tr>
                        <th scope="row">Weekday Twilight (After 2pm)</th>
                        <td>$20</td>
                      </tr>
                      <tr>
                        <th scope="row">Tuesday & Friday - Senior's Day</th>
                        <td>$20</td>
                      </tr>
                      <tr>
                        <th scope="row">Junior &lt;16</th>
                        <td>$12</td>    
                      </tr>
                    </tbody>
                  </table>
                  <a href="tel:6134733880"><button type="button"  class="enquire-button btn btn-primary">Book your Time Now!</button></a>
              </div>
        </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Footer Ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6595053800412592"
         data-ad-slot="3572192195"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>




</div>
