.image{
    background: url(../../assets/course-pictures/course4.jpg) no-repeat bottom center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}