<div class="nav-margin">
    <div class="row">
        <div class="col-md-4 image">

        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">2020 Memberships</h1>
                <p class="lead">We are happy to offer a variety of membership options. Come visit us or call the pro shop to learn more.</p>

                <table class="memberships table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Membership</th>
                        <th scope="col">Price<sup>*</sup></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Adult Full</th>
                        <td>$950</td>
                      </tr>
                      <tr>
                        <th scope="row">Couples Full</th>
                        <td>$1,600</td>
                      </tr>
                      <tr>
                        <th scope="row">Under 16 Weekday</th>
                        <td>$300</td>
                      </tr>
                      <tr>
                        <th scope="row">Senior (60+) Full</th>
                        <td>$800</td>
                      </tr>
                      <tr>
                        <th scope="row">Senior Couples (60+) Full</th>
                        <td>$1,450</td>
                      </tr>
                      <tr>
                        <th scope="row">Weekday Only</th>
                        <td>$745</td>
                      </tr>
                      <tr>
                        <th scope="row">Family Pass (2 Adults + 2 Children)</th>
                        <td>$1,775</td>
                      </tr>
                      <tr>
                        <th scope="row">Seasonal Power Cart</th>
                        <td>$600</td>
                      </tr>
                    </tbody>
                  </table>

                <small>* Prices include HST.</small>
                <a href="tel:6134733880"><button type="button"  class="btn btn-primary enquire-button">Enquire About our Memberships</button></a>

                <ul>
                    <li>Membership includes weekday and weekends except holiday weekends.</li>
                    <li>Full Members can golf after 12:00 p.m. on holiday weekends or pay a junior rate before 12:00 p.m.</li>
                    <li>Membership cannot be used for any tournaments. (Tournament fee must be paid)</li>
                    <li>Tournament and League play will take precedence over membership.</li>
                    <li>Membership is valid only to the persons name on the membership card.</li>
                    <li>Members must sign in at the pro shop before their game.</li>
                    <li>Weekday Members (5 day members) will be entitled to play Monday - Friday excluding holidays and are entitled to play at a discounted price of $120 on weekends or holidays.</li>
                    <li>Seasonal Power Cart Membership allows one 12-hole round per day. Second rider who does not have a power cart membership must pay regular cart fee. 
                      <u>Tournaments are not included.</u> Each additional 12-hole round on the same day, fee is $10.00 (tax incl.)</li>
                </ul>
              </div>
        </div>
    </div>





</div>
