<div class="header">
    <div class="container">
        <h1>Join Our Membership</h1>
        <button routerLink="/memberships" routerLinkActive="active" type="button" class="btn btn-outline-primary btn-lg btn-block"><p>Learn More</p></button>
    </div>
</div>
<div class="jumbotron">
    <figure class="text-center">
<blockquote class="blockquote">
    <p class="mb-0">We should consider the possibility of making 12 holes the standard round.  Eventually it would be accepted because it makes sense in people’s lives.”</p>
    <footer class="blockquote-footer">Jack Nicklaus</footer>
  </blockquote>
</figure>
</div>
