/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import './variables.scss';


body {
  background-color: #f3f3f3;
}

.nav-margin {

  margin: 16px;
  min-height: calc(90vh - 6.5rem);
}

.btn.btn-primary, .btn-primary:hover, , .btn-primary:visited {
  background-color: $primary !important;
  border-color: $primary !important;
  box-shadow: 0 0 0 0.2rem $primary-trans90!important;
}
.btn-primary:active{

  background-color: $primary-light !important;
}

.enquire-button{
  padding: .5rem;
  margin: 1rem .25rem;
}

@media(max-width:290px) {
  .nav-margin {
    margin-top: 10rem !important;
    min-height: calc(100vh - 17rem) !important;
  }
}

@media(max-height: 900px) {
  .nav-margin {
    margin-top: 16px;
    min-height: calc(100vh - 106px - 5.5rem) !important;
  }
}
@media(max-width: 464px) {
  .nav-margin {
    margin-top: 16px;
    min-height: calc(100vh - 106px - 7rem) !important;
  }
}
@media(min-height: 2000) {
  .nav-margin {
    min-height: calc(100vh - 248px) !important;
  }
}
