$primary: rgb(87, 2, 7);
$primary-trans90: rgba(87, 2, 7, 0.90);
$primary-trans60: rgba(87, 2, 7, 0.60);
$primary-trans50: rgba(87, 2, 7, 0.50);
$primary-light: #AE0114;
$primary-xlight: #D24B48;
$primary-xlight-trans70: rgba(210, 75, 72, .9);
$secondary: #7b844b;
$secondary-trans90: rgba(123, 132, 75, 0.90);
$secondary-trans80: rgba(123, 132, 75, 0.80);
$secondary-trans70: rgba(123, 132, 75, 0.70);
$secondary-trans50: rgba(123, 132, 75, 0.50);
$secondary-dark: #392D13;
$white: #ffffff;
$white-trans90: rgba(255, 255, 255, 0.9);
$white-trans80: rgba(255, 255, 255, 0.8);
$white-trans70: rgba(255, 255, 255, 0.7);
$white-trans60: rgba(255, 255, 255, 0.6);
$white-trans50: rgba(255, 255, 255, 0.5);
$white-trans10: rgba(255, 255, 255, .1);
$black-trans90: rgba(0,0,0,.9);
$black-trans80: rgba(0,0,0,.8);
$black-trans70: rgba(0,0,0,.7);
$black-trans60: rgba(0,0,0,.6);
$black-trans50: rgba(0,0,0,.5);
$black-trans40: rgba(0,0,0,.4);
$black-trans30: rgba(0,0,0,.3);
$black-trans20: rgba(0,0,0,.2);
$black-trans10: rgba(0,0,0,.1);
$black-trans05: rgba(0,0,0,.05);