
<app-header></app-header>
<div class="row flex-column-reverse flex-lg-row">
    <div class="col-lg-9 facebook">
        <p><strong>Note:</strong> Once I have acquired the course's Facebook credentials the view of the facebook feed will change.</p>
        <p>I will be using a free service called <a href="https://www.juicer.io/" target="_blank">Jucier</a> to fetch the facebook post and display them in a much more 
            aesthetic manner similar to <a target="_blank" href="https://i.imgur.com/DPXWCOP.png">this</a>.</p>
        <div class="fb-page" data-href="https://www.facebook.com/westhighlandgolf/" data-tabs="timeline" 
        data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" d
        ata-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/westhighlandgolf/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/westhighlandgolf/">West Highland Golf Course</a></blockquote>
        </div>
    </div>
    <div class="col-lg-3 weather">
        <a class="weatherwidget-io" href="https://forecast7.com/en/44d51n77d47/madoc/" 
data-label_1="West Highland Golf Course" data-label_2="Madoc, Ontario" data-font="Roboto" 
data-days="5" data-theme="original" data-basecolor="rgba(123, 132, 75)" 
data-accent="rgba(255, 255, 255, 0.0)" data-highcolor="#AE0114" >West Highland Golf Course Madoc, Ontario</a>
    </div>
</div>

