@import '../../variables.scss';

.row{
    max-width: 100vw;
    padding: 0;
    margin: 0;
}
.weather{
    background-color: $secondary;
    position: relative;

    .weatherwidget-io{
       position: sticky !important; 
       top:6rem;
       margin: 1rem;
    }
}

.facebook{
    text-align: center;
    padding: 2rem;
    background-color: #f3f3f3;

    p{
        text-align: start;
    }
}

@media screen and (max-width: 991px){
    .weather{
    
        .weatherwidget-io{
           position: static; 
           top:0rem;
           margin: 1rem;
        }
    }
}