.row{
    margin: 2rem;
}
.img-container{
    height: 50vh;
    width: 100%;
    min-height: 300px;
    position: relative;
    text-align: center;
    .sponsor-image{
        max-height: 100%;
        width: auto;
        max-width: 100% ;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.container-fluid{
    padding-top: 1rem;
}


.business-info{
    text-align: center;
    margin-top: 1vh;
}
.description{
    margin-bottom: 2rem;
}