<div class="nav-margin">
    <div class="container-fluid">
        <h1 class="display-4">Our Sponsors</h1>
        <p class="lead">Please support some of our local businesses. More coming soon!</p>
        <div class="row">
            <div class="col-md-6">
                <div class="business">
                    <div class="img-container">
                        <img src="../../assets/sponsors/fishandco.jpg" />
                    </div>
                    <div class="business-info">
                        <h2>Fish &amp; Co.</h2>
                        <h6>43 Durham St S., Madoc</h6>
                        <h6><a href="http://fishandco.ca" target="_blank">fishandco.ca</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>