<div class="nav-margin">
    <div class="container-fluid">
        <h1 class="display-4">Our Sponsors</h1>
        <p class="lead">Please support our local businesses. More coming soon!</p>
        <div class="row">
            <div class="col-lg-6">
                <div class="business">
                    <div class="img-container">
                        <img class="sponsor-image" src="../../assets/sponsors/fishandco.jpg" />
                    </div>
                    <div class="business-info">
                        <h2>Fish &amp; Co.</h2>
                        <h6>43 Durham St S., Madoc</h6>
                        <h6><a href="http://fishandco.ca" target="_blank">fishandco.ca</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="business">
                    <div class="img-container">
                        <img class="sponsor-image"src="../../assets/sponsors/hunter-ford.png" />
                    </div>
                    <div class="business-info">
                        <h2>Hunter Ford</h2>
                        <h6>240 Russell St, Madoc</h6>
                        <h6><a href="tel:6134734236" target="_blank">613-473-4236</a></h6>
                        <h6><a href="http://hunterford.ca" target="_blank">hunterford.ca</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">

                <div class="business">
                    <div class="img-container">
                        <img class="sponsor-image" src="../../assets/sponsors/timbermart.jpg" />
                    </div>
                    <div class="business-info">
                        <h2>Madoc Timber Mart</h2>
                        <h6>48 Cooper Road, Madoc</h6>
                        <h6><a href="tel:6134732366" target="_blank">613-473-2366</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="business">
                    <div class="img-container">
                        <img class="sponsor-image" src="../../assets/sponsors/mcdougall.jpg" />
                    </div>
                    <div class="business-info">
                        <h2>McDougall Insurance &amp; Financial</h2>
                        <h6>37 St. Lawrence St W., Madoc</h6>
                        <h6><a href="tel:6134735266" target="_blank">613-473-5266</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>